<h3>Ініціативи:</h3><br/>

<% @initiatives.each do |initiative| %>
    <h4>Назва: <%= initiative.title %></h4>
    <p>Категорія:
      <%= show_initiative_categories initiative %>
    </p>
    <p>
      <%= link_to 'Показати', initiative_path(initiative), class: 'btn btn-default' %>
    </p>

<% end %>