<div class="container">
  <div class="row">
    <% @initiatives.each do |initiative| %>
        <div class="col-lg-4">
          <div class="initiative-list-block">
            <div class="block-list-images">
              <a href="<%= initiative_path(initiative) %>">
                <%= check_or_uploaded_picture_initiative initiative %>
              </a>
            </div>
            <div class="block-list-initiative-description">
              <p class="initiative-list-title">
                <%= initiative.title %>
              </p>

              <p class="initiative-list-short-description">
                <%= initiative.short_description %>
              </p>

              <p class="initiative-list-days-left">
                залишилося <b>10 днів</b>
              </p>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <div class="row">
    <div class="list-down-block">
      <i class="fa fa-sort-desc" aria-hidden="true"></i>
    </div>
  </div>
</div>