.container
  .row
    .col-lg-offset-1.col-lg-11
      p.initiative-new-title
        = t('views.initiative.new.title')
      = form_for :initiative, url: initiatives_path, html: {multipart: true}, method: :post do |f|
        .row
          .col-lg-4.col-md-4.col-xs-12
            br
            br
            br
            = f.label t('views.form.main_picture'), class: 'initiative-new-form-names' %>
          .col-lg-8.col-md-8.col-xs-12
            .initiative-new-file-block
              .initiative-new-file-title
                |
                  Додати фото
              input type="file" required="required" name="initiative[main_picture]" id="initiative_main_picture" size="1" class="initiative-new-file-input"
        .row
          .col-lg-4.col-md-4.col-xs-12
            = f.label t('views.form.category'), class: 'initiative-new-form-names'
          .col-lg-8
            .block-with-margin
            - unless @initiative_category.nil?
              = fields_for(@initiative_category) do
                = collection_select(:category, :id, @all_categories, :id, :name, {}, {multiple: true, require: true, class: 'category_select', style: 'width: 100%'})
        .row
          .col-lg-4.col-md-4.col-xs-12
            = f.label t('views.form.name'), class: 'initiative-new-form-names'
          .col-lg-8.col-md-8.col-xs-12
            = f.text_field :title, required: :required, class: 'form-control initiative-new-form-input', placeholder: t('views.form.name')
        .row
          .col-lg-4.col-md-4.col-xs-12
            = f.label t('views.form.short_description'), class: 'initiative-new-form-names'
          .col-lg-8.col-md-8.col-xs-12
            = f.text_field :short_description, required: :required, class: 'form-control initiative-new-form-input', placeholder: t('views.form.short_description')
        .row
          .col-lg-4.col-md-4.col-xs-12
            br
            = f.label t('views.form.long_description'), class: 'initiative-new-form-names'
          .col-lg-8.col-md-8.col-xs-12
            = f.text_area :long_description, required: :required, class: 'form-control initiative-new-form-input', placeholder: t('views.form.long_description')
        .row
          .col-lg-4.col-md-4.col-xs-12
            = f.label t('views.form.sum'), class: 'initiative-new-form-names'
          .col-lg-8.col-md-8.col-xs-12
            = f.number_field :sum, required: :required, class: 'form-control initiative-new-form-input', placeholder: t('views.form.sum')
        .row
          .col-lg-4.col-md-4.col-xs-12
            br
            = f.label t('views.form.video'), class: 'initiative-new-form-names'
          .col-lg-8.col-md-8.col-xs-12
            = f.text_area :main_video, class: 'form-control initiative-new-form-input', placeholder: t('views.form.video')
        .row
          .col-lg-4.col-md-4.col-xs-12
            = f.label t('views.form.term_fundraiser'), class: 'initiative-new-form-names'
          .col-lg-8.col-md-8.col-xs-12
            = f.number_field :term_fundraiser, required: :required, class: 'form-control initiative-new-form-input', placeholder: t('views.form.term_fundraiser')
        .row
          .col-lg-4.col-md-4.col-xs-12
            = f.label t('views.form.term_report'), class: 'initiative-new-form-names'
          .col-lg-8.col-md-8.col-xs-12
            = f.number_field :term_report, required: :required, class: 'form-control initiative-new-form-input', placeholder: t('views.form.term_report')
        .row
          .col-lg-4.col-md-4.col-xs-12
            = f.label t('views.form.add_photos'), class: 'initiative-new-form-names'
          .col-lg-8.col-md-8.col-xs-12
            = file_field_tag 'initiative_images[]', type: :file, multiple: true, class: 'initiative-new-form-input'
        .col-lg-offset-4.col-md-8.col-xs-12
          p.user-panel-show-names-user-information
            = recaptcha_tags
        .row
          .col-lg-offset-4.col-lg-8
            = f.submit t('views.initiative.new.btn_title'), class: 'initiative-button-submit'
            = spinner_css