@import "variables";

.user-panel-show-title {
  color: #4D4252;
  text-align: center;
  font-size: 30px;
}

.initiative-new-form-names {
  color: #4D4252;
  font-size: 20px;
  margin: {
    top: 20px;
    bottom: 30px;
  }
  .right {
    float: right;
  }
}

.initiative-edit-form-names {
  color: #4D4252;
  font-size: 20px;
  margin: {
    top: 100px;
    bottom: 30px;
  }
}

.initiative-new-form-input {
  margin: {
    top: 30px;
    bottom: 30px;
  }
  border: {
    color: #4D4252;
    radius: 0;
  }
}

.initiative-new-file-block {
  text-align: center;
  overflow: hidden;
  width: 300px;
  height: 300px;
  border: 1px solid #4D4252;
  border-radius: 50%;
  background-color: white;
}

.initiative-new-file-title {
  color: #9D979F;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 45%;
}

.initiative-edit-file-title {
  @extend .initiative-new-file-title;
  margin: {
    top: 130px;
    left: 80px;
  }
  position: absolute;
}

.initiative-new-block-show-images {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $image-padding;
  background-color: $color-white;
}

.initiative-new-file-input {
  margin-top: -165px;
  -moz-opacity: 0;
  opacity: 0;
  font-size: 150px;
  height: 300px;
  width: 300px;
  position: absolute;
}

.initiative-edit-file-input {
  opacity: 0;
  font-size: 150px;
  height: 300px;
  width: 300px;
  position: absolute;
  border-radius: 50%;
}

.initiative-button-submit {
  margin-top: 50px;
  width: auto;
  height: auto;
  background-color: #96070A;
  color: $color-white;
  font-size: 25px;
  padding: 7px;
  border: none;
  &:hover {
    color: $color-white;
  }
}

.block-edit-big-images {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -240px;
  background-color: $color-white;
  @media (max-width: $media-max-width-on-small-devise) {
    width: 300px;
    height: 300px;
  }
}

.block-edit-small-images {
  @extend .block-show-big-images;
  width: 100px;
  height: 100px;
  margin-top: 40%;
}

.edit-small-images {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 5px;
}

.block-with-margin {
  margin-top: 20px;
}

.initiative-timeline-video {
  width: 80%;
  height: 250px;
  margin-top: 20px;
}

/* spinner */
.sk-cube-grid {
  width: 120px;
  height: 120px;
  display: none;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  background-color: #4D4252;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  background-color: #4D4252;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  background-color: #4D4252;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  background-color: #4D4252;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  background-color: #4D4252;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  background-color: #4D4252;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  background-color: #4D4252;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  background-color: #4D4252;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  background-color: #4D4252;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

/* end spinner */