.container
  .row
    .col-lg-12.col-xs-12
      p.show-title-in-reports
        = t('views.home.index.payments')
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      table.table.table-striped
        thead
        tr
          th Користувач
          th Кількість грошей
          th Який банкінг
          th Ініціатива
          th Дата
        tbody
        - @donate.each do |donate|
          tr
            td = donate.user.name
            td = donate.amount
            td = donate.internet_banking
            td
              a href="#{initiative_path(donate.initiative.id)}" = donate.initiative.title
            td = donate.created_at