<h2>Результат пошуку</h2>
<% @initiatives.each do |items| %>
    <h4>Назва: <%= items.title %></h4>
    <p>
      <%= link_to 'Показати', initiative_path(items), class: 'btn btn-default' %>
    </p>
<% end %>