<% @array_initiative_categories.each do |initiative_categories| %>
    <% initiative_categories.each do |items| %>
        <h4><%= t('views.search.name') %>: <%= items.initiative.title %></h4>
        <p>
          <%= link_to t('views.link_to.show'), initiative_path(items.initiative), class: 'btn btn-default' %>
        </p>
    <% end %>
<% end %>