@import "variables";

.navbar-block {
  background-color: #4D4252;
}

@media (min-width: $media-min-width-on-big-devise) {
  .nav-block {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-a-home {
    margin-left: 100px;
  }
}

.navbar-brand:hover {
  &:hover {
    color: $color-white;
  }
}

.navbar-default .navbar-nav > li > a:hover {
  color: $color-white;
}

.navbar-a {
  color: #9D979F;
  font-size: 30px;
  @media (min-width: $media-min-width-on-big-devise) {
    margin: {
      right: 40px;
      left: 40px;
    }
  }
}

.form-search {
  border-radius: 0;
  margin-right: -5px;
}

.button-search {
  border-radius: 0;
  background-color: #9D979F;
}

.sort-block {
  float: right;
}

.sort-category-default-options {
  background-color: #4D4252;
}

select option {
  padding: 0 10px 0;
  &:hover {
    box-shadow: 0 0 10px 100px #4D4252 inset;
  }
}

.button-sort {
  @extend .button-search;
  height: 30px;
  margin-top: -2px;
}

.select-sort {
  /*for WebKit*/
  -webkit-appearance: none;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
  background-image: url('header/chevron-down.png');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 40px;

  border-radius: 0;
  width: 150px;
  height: 31px;
  background-color: #4D4252;
  color: $color-white;
  option {
    background-color: $color-white;
    color: black;
    p {
      color: $color-white;
    }
  }
}
