@import "variables";

.navbar-block {
  background-color: #4D4252;
}

@media (min-width: $media-min-width-on-big-devise) {
  .nav-block {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-a-home {
    color: $color-white;
  }
}

.navbar-a-home {
  color: $color-white;
  padding: 15px;
}

.navbar-brand:hover {
  &:hover {
    color: #d2d2d2;
  }
}

.navbar-default .navbar-nav > li > a {
  color: $color-white;
  &:hover {
    color: #d2d2d2;
  }
}

.navbar-a {
  color: $color-white;
  font-size: 30px;
  @media (min-width: $media-min-width-on-big-devise) {
    margin: {
      right: 40px;
      left: 40px;
    }
  }
}

.navbar-collapse-me {
  padding: 5px;
}

.navbar-a-chose {
  text-decoration: underline;
}

.form-search {
  @media (min-width: $media-min-width-on-big-devise) {
    margin-right: 30px;
  }
  padding: 0 20px;
  border-radius: 0;
  width: 200px;
  height: 37px;
  border: none;
  font-size: 20px;
  &::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #5D4852;
  }

  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #5D4852;
    opacity: 1;
  }

  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #5D4852;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #5D4852;
  }
}

.form-category {
  @-moz-document url-prefix() {
    margin-right: -60px;
  }
}

.button-search {
  border-radius: 0;
  background-color: #9D979F;
}

.sort-block {
  float: right;
}

.sort-category-default-options {
  background-color: #4D4252;
}

select option {
  padding: 0 10px 0;
  &:hover {
    box-shadow: 0 0 10px 100px #4D4252 inset;
  }
}

.button-sort {
  @extend .button-search;
  height: 30px;
  margin-top: -2px;
}

.select-sort {
  /*for WebKit*/
  -webkit-appearance: none;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
  background-image: url('header/chevron-down.png');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 55px;

  border: 0;
  border-radius: 0;
  width: 200px;
  height: 37px;
  background-color: #4D4252;
  color: $color-white;
  font-size: 20px;
  padding: 0 20px;
  .first-option {
    p {
      margin-left: 30px;
    }
  }
  option {
    background-color: $color-white;
    color: black;
    padding: 0 20px;
    p {
      margin-left: 30px;
      color: $color-white;
    }
  }
}
