<% @initiatives.each do |items| %>
    <h4>Назва: <%= items.title %></h4>
    <p>Дата: <%= items.created_at %></p>
    <p>
      <%= link_to 'Показати', initiative_path(items), class: 'btn btn-default' %>
    </p>
<% end %>
<%= paginate @initiatives %>