p.text-center Додати звіт

.container
  .row
    .col-lg-12
      = form_for :timeline, url: "/initiatives/#{@initiative.id}/timeline", method: :post do |f|
        .row
          .col-lg-4.col-md-4.col-xs-12
            = f.label 'Назва', class: 'initiative-new-form-names'
          .col-lg-8.col-md-8.col-xs-12
            = f.text_field :title, required: :required, class: 'form-control initiative-new-form-input', placeholder: t('views.form.name')
        .row
          .col-lg-4.col-md-4.col-xs-12
            = f.label 'Дата', class: 'initiative-new-form-names'
          .col-lg-8.col-md-8.col-xs-12
            br
            = f.date_select :date, required: :required, class: 'form-control initiative-new-form-input'
        .row
          .col-lg-4.col-md-4.col-xs-12
            br
            = f.label 'Опис', class: 'initiative-new-form-names'
          .col-lg-8.col-md-8.col-xs-12
            = f.text_area :description, required: :required, class: 'form-control initiative-new-form-input'
        .row
          .col-lg-4.col-md-4.col-xs-12
            br
            = f.label 'Відео', class: 'initiative-new-form-names'
          .col-lg-8.col-md-8.col-xs-12
            = f.text_area :video, class: 'form-control initiative-new-form-input'
        .row
          .col-lg-offset-4.col-lg-8
            = f.submit 'Додати', class: 'initiative-button-submit'
            = spinner_css