@import "variables";

body {
  background-color: #EEEEEE;
}

p {
  font-family: 'Lato', serif;
  font-size: 48px;
}

/* bootstrap style begin */
@media (max-width: 1190px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

input {
  box-shadow: none;
  &:focus:hover {
    box-shadow: none;
    border-color: black;
  }
  &:active {
    box-shadow: none;
    border-color: black;
  }
  &:hover {
    box-shadow: none;
    border-color: black;
  }
}

textarea {
  @extend input;
}

input[type="file"] {
  cursor: pointer;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin: 0;
  color: $color-white;
}

/* bootstrap style end */

/* select 2 style begin */
.select2-container--default .select2-selection--multiple {
  border: {
    radius: 0;
    color: #4D4252;
  }
}

.select2-container--default .select2-search--inline .select2-search__field {
  color: #555;
}

/* select 2 style end */

/* admin */
.my-admin-lte {
  .navbar-nav > .messages-menu > .dropdown-menu{
    width: 500px;
  }
}

/* end admin */