/*
 *= require bootstrap
 *= require font-awesome
 *= require ionicons
 *= require application_header
 *= require application_nav
 *= require application_footer
 *= require initiatives_list
 *= require initiatives_show
 */
body{
  background-color: #EEEEEE;
}
p {
  font-family: 'Lato', serif;
  font-size: 48px;
}