@import 'bootstrap';
@import "font-awesome";
@import 'ionicons';
@import 'application_header';
@import 'application_nav';
@import 'application_footer';
@import 'initiatives_list';
@import 'initiatives_show';
@import 'initiatives_new';
@import 'select2/select2.css';
@import 'select2/s2-docs.css';

body {
  background-color: #EEEEEE;
}

p {
  font-family: 'Lato', serif;
  font-size: 48px;
}