@import "variables";

.initiative-list-block {
  margin-top: 180px;
  width: 300px;
  border: 1px solid #9D979F;
  height: 450px;
  background-color: $color-white;
}

.block-list-initiative-description {
  margin-top: 200px;
  height: auto;
}

.initiative-list-title {
  text-align: center;
  font-size: 25px;
}

.initiative-list-title-state{
  text-align: center;
  font-size: 15px;
}

.initiative-list-short-description {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
}

.initiative-list-days-left {
  margin: {
    top: 30px;
    right: 20px;
  }
  text-align: right;
  font-size: 17px;
  b {
    color: #96070A;
  }
}

.block-list-images {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: -140px;
  background-color: $color-white;
}

.list-images {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding: 10px;

}

.list-down-block {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    color: #96070A;
    font-size: 100px;
  }
}