<p>Доброго дня <%= @email %>!</p>

<p>Ви можете підтвердити свою адресу електронної пошти облікового запису по посиланню нижче:</p>

<p>Дякуємо за розуміння, приємного дня:</p>

<p><%= link_to 'Підтвердити мій акаунт', confirmation_url(@resource, confirmation_token: @token) %></p>
