<h2>Вітаємо вас з реєстрацією на нашому сайті!!!</h2>
<p>Ваше ім'я: <b style="color: green"><%= @user.name %></b></p>
<p>Ваша пошта: <b style="color: green"><%= @user.post %></b></p>
<p>Ваш телефон: <b style="color: green"><%= @user.phone %></b></p>
<p>Ваш емейл: <b><%= @user.email %></b></p>