.header-block
  = image_tag('header/if.png', class: 'header-image')

  .multi-color-background-header-image
  .header-left-line
  p.header-text-left-top
    = t('views.layout.application.header.initiative')

  p.header-text-left-middle
    = t('views.layout.application.header.city')

  p.header-text-left-bottom
    = t('views.layout.application.header.name_city')

  .header-block-right
    - if user_signed_in?
        = link_to t('views.link_to.sign_out'), destroy_user_session_path, method: :delete, class: 'header-text-right'
    - else
        = link_to t('views.link_to.sing_in'), new_user_session_path, class: 'header-text-right'
        = link_to t('views.link_to.registration'), new_user_registration_path, class: 'header-text-right-register'